#main-page {
  display: flex;
  flex-direction: column;
  background-color: rgba(161, 159, 159, 0.02);
}

#main-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
}

main #timeline-list {
  padding-top: 50px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.timeline-Margin {
  margin-bottom: 50px;
}

/* aside 프로필 */
@media (max-width: 1300px) {
  aside {
    display: none;
  }
  .timeline-plus-button {
    display: none;
  }
  .timeline-chatting-button {
    display: none;
    position: relative;
  }
}
aside {
  position: fixed;
  left: 50px;
  margin-top: 100px;
}

aside > .aside-profile {
  height: 400px;
  width: 220px;
  padding-left: 10px;
  padding-top: 10px;
  box-shadow: 0px 1px 2px rgba(161, 159, 159, 0.8);
  background-color: white;
  padding: 10px;
}

.aside-profile .timeline-profile {
  height: 200px;
  width: 200px;
  /* border: 1px solid lightgray; */
}
.aside-profile .timeline-profile > img {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  height: 200px;
  width: 200px;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
}
.aside-profile-info {
  margin-top: 10px;
}

.aside-profile-name {
  text-align: center;
  width: 200px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
}
.aside-profile-statusMsg {
  text-align: center;
  width: 200px;
  font-size: 14px;
  margin-bottom: 10px;
}
.aside-profile-TodaySchedule {
  width: 200px;
  height: 100px;
}
.aside-profile-TodaySchedule > div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
.aside-profile-TodaySchedule > ul > li {
  padding: 2px;
  margin-left: 5px;
}

.chatting-wrap {
  position: absolute;
  background-color: rgba(253, 253, 253, 0.9);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.chatting-cell {
  cursor: pointer;
  background-color: white;
}

.chatting-cell:hover {
  background-color: #40739e33;
}

.chatting-list {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
