@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#index-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(20, 81, 51, 0.8);
  position: fixed;
}
.Recordary-infoMsg {
  color: white;
  font-size: 20px;
  font-family: 'Song Myung', serif !important;
  margin: 10px 0;
}

.page_info {
  display: flex;
}

.title-image {
  width: auto;
  height: 200px;
}
.login-form {
  margin-left: 80px;
}

.login-text > div {
  width: 200px;
  margin-bottom: 10px;
}
.login-text {
  text-align: center;
  margin-top: 40px;
}

.login-button {
  /* display: flex; */
  margin-top: 20px;
  text-align: center;
}
.login-button > div {
  margin-top: 5px;
}
.login-button > div:hover {
  cursor: pointer;
}
.page_info > div > .search-user {
  /* margin-top: 30px; */
}
.search-user > .makeStyles-search-155 > .makeStyles-searchIcon-156 > .MuiSvgIcon-root {
  color: white;
}

.search-user > .makeStyles-search-155 > div > .makeStyles-inputInput-158 {
  color: white !important;
}
