/* 타임라인 일정+사진 */
.timeline {
  flex-direction: column;
  align-self: center;
  width: 866px;
  height: 100%;
  box-shadow: 0px 1px 2px rgba(161, 159, 159, 0.8);
  background-color: #ffffff;
  padding: 5px;
}

.timeline-Margin {
  margin-bottom: 50px;
}

.timeline-profile {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.timeline-showSchedule {
  position: absolute;
  top: 25px;
  left: 450px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
.timeline-showSchedule:hover {
  color: rgba(20, 81, 51, 0.9);
  cursor: pointer;
}

.Close-hover:hover {
  color: rgba(20, 81, 51, 0.9);
  cursor: pointer;
}
.profile-picture {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: rgba(161, 159, 159, 0.8);
}

.profile-picture > img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
}

.profile-name {
  position: absolute;
  left: 0px;
  padding-left: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 300px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}

.profile-time {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 30px;
}

.profile-moreIcon {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 60px;
  cursor: pointer;
}

.timeline-info {
  display: flex;
  height: 470px;
}

.timeline-picture-info {
  display: flex;
  height: 440px;
  flex-direction: column;
}

.timeline-picture {
  position: relative;
  width: 490px;
  height: 340px;
  padding-left: 10px;
  overflow: hidden;
}

.timeline-shareForm {
  position: relative;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
  margin-left: 10px;
  margin-bottom: 15px;
  width: 480px;
  height: 330px;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.timeline-shareForm:hover {
  /* cursor: pointer; */
  box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.9);
}
.timeline-share-userInfo > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
  border-radius: 50%;
  margin-right: 10px;
}
.timeline-share-userInfo {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.timeline-share-userInfo > div {
  font-weight: bold;
}

.timeline-picture > img {
  width: 480px;
  height: 330px;
  object-fit: cover;
  /* box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8); */
  border: rgba(161, 159, 159, 0.8);
}

.timeline-showSchedule .timeline-title {
  margin-top: 5px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.timeline-context {
  max-width: 490px;
  max-height: 116px;
  margin-left: 10px;
  margin-top: 5px;
  border: 1px solid rgb(229, 229, 229);
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  line-height: 150%;
  overflow-y: scroll;
  padding: 10px;
}

.timeline-picture-bottom {
  border-radius: 50%;
  height: 6px;
  transition: all 0.2s ease-in-out;
  width: 6px;
  background: rgba(var(--eca, 255, 255, 255), 1);
  margin-right: 2px;
  transition: all 0.2s ease-in-out 0.2s;
}
.commentIcon-hover:hover {
  color: rgba(20, 81, 51, 0.9);
  cursor: pointer;
}

.commentIconFlex {
  display: flex;
  height: 19px;
  padding-top: 2px;
}
.comment-reply-users {
  display: flex;
  align-items: center;
}
.comment-reply-users-img {
  height: 40px;
}
.comment-reply-users-img > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
}
.comment-reply-users-name {
  padding-left: 10px;
  padding-top: 5px;
  width: 100%;
}
.comment-reply-users-name > div > div > .reply-name {
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
}
.comment-reply-users-name > div > div > div {
  font-size: 15px;
}

.comment-title {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 30px;
}
.recommentProfileImg > img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
}
.comment-reply {
  display: flex;
  flex-direction: column;
  height: 340px;
  padding-left: 10px;
  overflow: hidden;
  margin: 0px 10px;
  /*border: 1px solid rgba(161, 159, 159, 0.6);*/
}

.comment-context-icon {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-left: 5px;
}

.comment-icon-left,
.comment-icon-right {
  display: flex;
  align-items: center;
}

.likeIcon,
.followIcon,
.commentIcon,
.shareIcon {
  padding: 5px;
}

.likeIcon:hover,
.followIcon:hover,
.shareIcon:hover,
.commentIcon:hover {
  color: rgb(20, 81, 51);
  cursor: pointer;
}
.comment-reply-users-icon {
  display: flex;
}

.makeStyles-margin-150 {
  margin: 0px !important;
}

fieldset {
  border-color: rgba(20, 81, 51, 0.9) !important;
}
.comment-write > div > div > div > .MuiOutlinedInput-multiline {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  padding-left: 14px;
  padding-right: 8px;
}

/* 더 많은 댓글 보기 */
.more-recomment-reply-users {
  margin-left: 50px;
  margin-top: 10px;
}
.recomment-reply-users-img {
  height: 30px;
}
.recomment-reply-users-img > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(161, 159, 159, 0.8);
}

.show-more-comment {
  /* margin-left: 50px; */
  display: flex;
  align-content: center;
}
.show-recomment-write {
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  font-size: '12px';
}

.show-more-comment > div:hover {
  background-color: rgba(161, 159, 159, 0.1);
  cursor: pointer;
}

/* 일정만 => Week일때 */
.timeline-week-info {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0px 10px;
}

/* 일정하나 */
.timeline-onlyschedule-info {
  height: 100px;
  width: 860px;
  flex-direction: column;
}
.timeline-schedule-only {
  margin: 5px 10px;
  font-size: 16px;
}
.timeline-plus-button {
  position: fixed;
  bottom: 20px;
  right: 115px;
}
.timeline-chatting-button {
  position: fixed;
  bottom: 27px;
  right: 50px;
}

.MuiFab-primary {
  background-color: rgba(20, 81, 51, 0.9) !important;
}

.transition-all {
  transition: all 0.3s ease-out;
}
.clicked {
  width: 100%;
  height: 100%;
  background-color: rgba(161, 159, 159, 0.2);
}
