@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

/*기본 요소*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif !important;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #333;
}
img {
  border: none;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}
/* #root,
#wrapper */
html {
  overflow: visible !important;
}
body {
  display: flex;
  min-width: 1300px;
  flex-direction: column;
  font-family: 'Gothic A1', sans-serif;
  font-size: 10pt;
  color: #333;
  background: #f9f9f9;
}
/*form 요소*/
select,
input,
button,
textarea,
button {
  background: #fff;
  border: 1px solid #a3a3a3;
  vertical-align: middle;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: white;
}

nav>div{
    margin: 20px;
}

.media-area{
    display: flex;
    height: 250px;
    border: 1px solid gray;
}

.media-area .media-item{
    margin: 10px 20px;
    height: 230px;
    width: 230px;
}

.media-area .media-item>img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
} */
/* 스크롤 css */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: -1;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
  z-index: 99999;
}

input:focus {
  outline: none;
}

.transition-all {
  transition: all 0.3s ease-out;
}

.todo-animation {
  animation-name: todo;
  animation-duration: 0.25s;
  animation-delay: 0;
}

@keyframes todo {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
