<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <script>
        function userDelete(userCd){
            location.href = "/userDelete?userCd=" + userCd;
        }
    </script>
</head>
<body>
    <form action="/userUpdate" method="post">
        <input type="hidden" name="user_cd" th:value="${session.loginUser.getUserCd()}"/>
        <input type="text" name="user_nm" th:value="${session.loginUser.getUserNm()}"/><br>
        <input type="password" name="user_pw"/><br>
        <textarea name="user_ex" th:text="${session.loginUser.getUserEx()}"></textarea><br>
        <input type="submit" value="수정">
        <a th:onclick="|javascript:userDelete('${session.loginUser.getUserCd()}')|">회원탈퇴</a>
    </form>
</body>
</html>