.profile-edit-title{
    padding-top: 25px;
    padding-left: 25px;
}
.profile-editor{
    display: flex;
    padding: 25px;
    width: 580px;
    height: 350px;
}

.profile-editor-info{
    width: 300px;
    height: 250px;
    padding: 25px;
}
.profile-editor-image{
    width: 250px;
    height: 250px;
}
.profile-editor-info-buttons{
    display: flex;
}
