.searchField-result {
  height: 100%;
  width: 100%;
}
.searchField-title {
  padding: 10px;
  height: 50px;
  background-color: rgba(20, 81, 51, 0.9);
  color: white;
  font-size: 20px;
}
.searchField-result-list {
  padding: 10px;
  height: 444px;
  overflow-y: scroll;
}
.group-follow_change {
  display: flex;
  flex-direction: column;
}
.follower_list {
  display: flex;
  justify-content: space-between;
  width: 320px;
  border-bottom: 1px solid #eee;
  padding: 6px 0px;
}
.MuiTabs-flexContainer {
  justify-content: center;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: rgba(20, 81, 51, 0.9) !important;
}
