<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:if="${session.loginUser!=null}"><strong th:text="${session.loginUser.getUserNm()}"/>님 환영</p>
    <a href="/joinPage" th:if="${session.loginUser==null}">회원가입</a><br>
    <a href="/loginPage" th:if="${session.loginUser==null}">로그인</a><br>
    <a href="/logout" th:if="${session.loginUser!=null}">로그아웃</a>
    <a href="/groupCreatePage" th:if="${session.loginUser!=null}">그룹만들기</a>
</body>
</html>