header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    width: 100%;
    min-width: 1300px;
    height: 50px;
    background: no-repeat fixed linear-gradient(-225deg, RGB(255, 223, 75, 0.5), RGB(0, 168, 255, 0.5));
    border-bottom: 1.2px solid lightgray;
    z-index: 10;
    box-shadow: 0px 1px 5px lightgray;
}

#header-left{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#header-left>div{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

#header-right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#header-right .profile-icon{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    cursor:pointer;
}



.menu-wrap{
    display: flex;
    flex-direction: column;
    background-color: RGBA(249, 249, 249, 1.0);
    width: 250px;
    height: 100%;
}

.menu-profile{
    display: flex;
    padding-top: 5px;
    padding-left: 10px;
    align-items: center;
    width: 250px;
    height: 60px;
    font-size: 15px;
    background-color: rgba(245, 246, 250,1.0);
    /* border-bottom: 2px solid RGBA(209, 204, 192,0.8); */
    border-bottom: 2px solid  rgba(48, 51, 107,1.0);
}

.menu-bottom{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 250px;
    height: 40px;
    background-color: rgba(209, 204, 192,0.4);
    border-top: 1px solid rgba(209, 204, 192,0.8);
}