.editor {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 300px;
  height: 400px;
}

.editor-info-text {
  width: 250px;
  height: 350px;
}

.editor-info-buttons {
  display: flex;
  height: 50px;
}
